{% extends 'shared/full_layout.html' %}
{% load custom_filter %}

{% block title %}Chat{% endblock %}

{% block head %}
{% load static %}
<link href="{% static 'style/feed.css' %}" rel="stylesheet" />
<link href="{% static 'style/easymde.min.css' %}" rel="stylesheet" />
<link href="{% static 'style/chat.css' %}" rel="stylesheet" />
<script src="{% static 'script/chat.js' %}"></script>
{% endblock %}


{% block scripts %}
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
<h1 class="border-bottom mt-4 pb-2">Chat mit {{ correspondant }}</h1>
<div id="chatblock" data-url="{{ author.url }}" data-me="{{ me.id }}" data-men="{{ me.name }}" data-mep="{{ me.photo }}" class="container">
    {% for message in messages %}
    <div class="chat-message{% if message.received %} received{% endif %}">
        <img class="user-avatar" src="{{ author.photo }}" alt="{{ author.name }}">
        <div class="chat-user"><a href="{% url 'User' message.correspondent %}">{{ author.name }}</a></div>
        <div class="chat-text">{{ message.content }}</div>
    </div>
    {% endfor %}
    <input type="text" id="new-message"><button class="send" id="send-message">Send</button>

</div>
{% endblock %}
